<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="padding-left:10px;">
    <%= f.label :name, 'Nombre' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field" style="padding-left:10px;">
    <%= f.label :address, 'Dirección' %><br>
    <%= f.text_field :address %>
  </div>


  <div class="field" style="padding-left:10px;"> 
    <%= f.label :openhour, 'Horade apertura' %><br>
    <%= f.select :openhour, '00'..'23' %>:
    <%= f.select :openmin, '00'..'59' %>
  </div>

  <div class="field" style="padding-left:10px;"> 
    <%= f.label :closehour, 'Horario de cerrado' %><br>
    <%= f.select :closehour, '00'..'23' %>:
    <%= f.select :closemin, '00'..'59' %>
  </div>


  <div class="field">
    <%= f.label :image, 'Image' %><br>
    <%= f.file_field :image %>
  </div>

  <div class="actions" style="padding-left:10px;">
    <%= f.submit 'Agregar local' %>

  </div>
<% end %>
