<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Nombre" %>
  </div>
  <div class="field">
    <%= f.text_field :address, placeholder: "Dirección" %>
  </div>

<p class="text-center">Hora de apertura</p>
<div class="row">
  <div class="large-6 columns field">
      <%= f.select :openhour, '00'..'23'%>
  </div>
  <div class="large-6 columns field">
      <%= f.select :openmin, '00'..'59' %>
  </div>
</div>

<p class="text-center">Hora de cierre</p>
<div class="row">
  <div class="large-6 columns field">
    <%= f.select :closehour, '00'..'23', placeholder: "Hora de cierre" %>
  </div>
  <div class="large-6 columns field">
    <%= f.select :closemin, '00'..'59' %>
  </div>
</div>

  <!-- Agregar aquí checkbox de 24 horas -->
  <div class="field">
    <%= f.file_field :image, class: "default button" %>
  </div>

  <div class="actions">
    <%= f.submit 'Agregar local', class: "button round" %>

  </div>
<% end %>
