<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @store.schedule %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @store.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @store.longitude %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%= @store.user %>
</p> -->

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
