<h2>Registro (dividir en paso 1 y 2)</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "Nombre" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email"%>
  </div>

  <div class="field">
    <%= f.text_field :rut, placeholder: "RUT"%>
  </div>

    <div class="field">
    <%= f.text_field :phone, placeholder: "Teléfono"%>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirma tu contraseña" %>
  </div>

    <div class="actions">
    <%= f.submit "Listo", class: "button radius" %>
  </div>
<% end %>

<%= render "owners/shared/links" %>
