<div class="row">
<div class="large-12 columns">
<h2 class="text-center">Inicia Sesión</h2>

  <%= form_for(:user, :url => user_session_path) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :Recuérdame %>
  </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Ingresa", class: "button radius " %>
  </div>
  <% end %>
    <%= button_to "Ingresa con Facebook", user_omniauth_authorize_path(:facebook), class: "button radius" %>
      <div class="text-center">
      <%= render "devise/shared/links" %>
  </div>
</div>
</div>