<h2 class="text-center">Paso 1: Rellena con tus datos</h2>

<%= form_for(:owner, :url => owner_registration_path) do |f| %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "Nombre" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email"%>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña (Min. 8 caracteres)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirma tu contraseña" %>
  </div>

  <div class="actions">
    <%= f.submit "Continuar", class: "button round" %>
  </div>
<% end %>