<h2>Regístrate</h2>

<%= form_for(:user, :url => user_registration_path) do |f| %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "Nombre" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email"%>
  </div>

<!-- -->

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirma tu contraseña" %>
  </div>

  <div class="actions">
    <%= f.submit "Listo", class: "button radius" %>
  </div>
<% end %>