<%= form_for([@store, @offer], remote: true) do |f| -%>

<% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   	<div class="field" style="padding-left:10px;">

    		<%= f.label :name, 'Oferta'  %>

    		<%= f.text_field :name, class: "form-control", placeholder: "Nombre oferta" %>
    </div>

    <div class="field" style="padding-left:10px;">
        <%= f.label :price, 'Precio:'  %>
        <%= f.text_field :price, class: "form-control", placeholder: "Precio" %>
    </div>

	<div class="action" style="padding-left:10px;padding-bottom:10px;">

		  	<%= f.submit 'Enviar', class: "btn btn-primary" %>

	</div>			

<%end%>

