<%# add navigation links to this file %>
<% if can? :create, Store %>
	<li><a href="/stores/new" style="color:white;">Agrega tu local<span class="sr-only"></span></a></li>
<%end%>

<% if owner_signed_in? %>
  <li><%= link_to current_owner.name, edit_owner_registration_path %></li>
  <li><%= link_to 'Salir', destroy_owner_session_path, method: :delete, data: { confirm: 'Seguro que deseas salir?'} %></li>
<% elsif user_signed_in?%>
  <li><%= link_to current_user.name, edit_user_registration_path %></li>
  <li><%= link_to 'Salir', destroy_user_session_path, method: :delete, data: { confirm: 'Seguro que deseas salir?'} %></li>
<%else%>
	<li><a href="#" data-reveal-id="firstModal">Inicia Sesión</a></li>
	<li><%= link_to 'Ingreso owner', new_owner_session_path %></li>
	<li><%= link_to 'Ingreso user', new_user_session_path %></li>
<%end%>

<!-- Reveal Modals begin -->
<div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
  <h2 id="firstModalTitle" class="text-center">Inicia Sesión</h2>
  <p><a href="#" data-reveal-id="secondModal" class="button radius">Como Usuario</a></p>
  <p><a href="#" data-reveal-id="thirdModal" class="button radius">Como Dueño</a></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="secondModal" class="reveal-modal" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
  <%= render "shared/registeru" %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="thirdModal" class="reveal-modal" data-reveal aria-labelledby="thirdModalTitle" aria-hidden="true" role="dialog">
  <%= render "shared/registero" %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="fourthModal" class="reveal-modal" data-reveal aria-labelledby="fourthModalTitle" aria-hidden="true" role="dialog">
  <h2 id="secondModalTitle">Paso 2: Rellena con los datos de tu local</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio impedit quas ipsam mollitia? Reprehenderit aliquam eligendi repellat quam, autem excepturi odit recusandae ullam beatae ipsam optio, aspernatur sint deleniti libero!</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script>$(document).ready(function(){
$(document).foundation();
});</script>