<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hackaton Boti Seek" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hackaton Boti Seek" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

<body>

<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<%= render "layouts/navigation" %>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<%= yield %>

<!-- Latest compiled and minified JavaScript -->


</body>
</html>
